body {
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* buttons styles */
.btn {
    padding: 14px 40px;
    border: 2px solid #28abb9;
    border-radius: 20px;
    font-family: 'Krona One', sans-serif;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: none;
}

.btn:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.btn.login:hover {
    color: #28abb9;
}

.btn.sign-up {
    background-color: #252a34;
    color: #28abb9;
}

.btn.sign-up:hover {
    background-color: #1f1f1f;
}

/* Start header Section */
#header {
    background-color: #252a34;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-item {
    float: right;
}

.list-item.left-link {
    float: left;
}

.list-item a {
    display: block;
    color: #28abb9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    transition-duration: 0.3s;
}

.list-item a:hover {
    background-color: #a39696;
}

/* End header Section */

/* Start introduction section */
#introduction {
    background-color: #eee;
    padding: 3%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
}

/* div for title and paragraph */
.brief {
    margin: 0% 2%;
    width: 50%;

}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    margin-bottom: 0%;
}

.brief p {
    font-size: 1.3rem;
    text-align: left;
    width: 100%;

    margin-right: 0;
}

/* this img is not a part of brief div */
.intro-img {
    padding-left: 6%;
}

.intro-img img {
    width: 100%;
    height: 100%;
    max-height: 450px;
}

/* End introduction section */



/* Start features section */
#features {
    display: flex;
    padding: 1%;
    text-align: center;
    background-color: #252a34;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.info {
    padding: 1%;
    color: #eaeaea;
}

.info p i {
    margin: 2% 0 3%;
    color: #28abb9;
}

.info p i:hover {
    color: #eaeaea;
}

/* End features section */



/* Screen width flexibility */
@media only screen and (max-width: 850px) {
    #introduction {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #features {
        flex-wrap: wrap;
    }

    .brief {
        width: 100%;
    }

    .brief p {
        text-align: center;
    }

    .intro-img {
        margin-top: 3%;
        padding: 0;
    }

    .info {
        padding: 0 7%
    }
}

#slideshow {
    box-sizing: border-box;
    background-color: #eaeaea;
}

.slideshow-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 1%
}

.my-slide {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: #28abb9;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}
.next {
    border-radius: 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    font-size: 1.2rem;
    padding: 2% 4%;
    width: 100%;
    text-align: center;
    padding: 10%;
}

.slide-nav-points {
    text-align: center;
}

.show-slide {
    display: flex;
}
.hide-slide {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #28abb9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.attributions {
    text-align: center;

}
.attributions a{
    text-decoration: none;
    color: #1f1f1f;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
